/* 
0 - 600px:         Phone
600 - 900px:       Tablet portrait
900 - 1200px:      Tablet landscape
[1200 - 1800]      is where our normal styles apply
1800px + :         Big desktop

$breakpoint argument choices:
- phone 
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components 

1em = 16px
*/
:root {
  --color-primary: #f0753cdc;
  --color-primary-1: #f0753c;
  --color-primary-2: #333; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    margin-left: -200px; }
  50% {
    opacity: 0.2; }
  100% {
    margin-left: 0; } }

@keyframes appear {
  0% {
    opacity: 0;
    transform: scaleX(30); }
  25% {
    opacity: 0.1;
    transform: scaleX(25); }
  50% {
    opacity: 0.2;
    transform: scaleX(20); }
  100% {
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    transform: translate(-50%, 50%); }
  50% {
    transform: translate(-50%, 0%); }
  100% {
    transform: translate(-50%, -50%); } }

@keyframes arrowDown {
  0% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  50% {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); } }

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform; }

.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(240, 237, 237, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  font-size: 1.4rem;
  letter-spacing: 1px; }

@keyframes carMove {
  0% {
    -webkit-transform: scale(-1);
    transform: scale(-1);
    opacity: 0;
    left: -150rem; }
  50% {
    -webkit-transform: scale(-0.5);
    transform: scale(-0.5);
    opacity: 0.5;
    left: -125rem; }
  100% {
    left: 0;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  position: relative; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.container {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  position: relative; }

section {
  position: relative; }

.primary {
  color: var(--color-primary); }

.white {
  color: #fff; }

body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.4;
  background-color: #fbf9f9; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-color: var(--color-primary-2);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s;
  border-bottom: 2px solid var(--color-primary);
  margin-bottom: 5rem;
  margin-top: 5rem; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-tertiary {
  font-weight: 500;
  font-size: 1.9rem;
  color: var(--color-primary); }

.header-how-we-work {
  color: white;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  width: 20rem;
  margin: 0 auto;
  border-top: 1rem solid var(--color-primary);
  height: 15rem;
  background-color: var(--color-primary-2); }

.heading-heading-how-we-work {
  color: white;
  font-size: 2.6rem;
  padding: 1rem; }

.receipt {
  color: var(--color-primary); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 1rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 5.5rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.car-block {
  background-color: rgba(255, 255, 255, 0.945);
  display: flex;
  align-items: center;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .car-block {
      flex-direction: column;
      background-color: transparent; } }
  .car-block__img {
    width: 50%; }
    @media only screen and (max-width: 56.25em) {
      .car-block__img {
        display: none; } }
  .car-block__p {
    width: 50%;
    font-weight: 400;
    color: var(--color-primary-2);
    line-height: 1.7;
    font-size: 1.6rem;
    padding: 3rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    flex: 0 0 40%; }
    @media only screen and (max-width: 75em) {
      .car-block__p {
        line-height: 1.5;
        padding: 2rem; } }
    @media only screen and (max-width: 75em) {
      .car-block__p {
        background-color: white; } }
    @media only screen and (max-width: 56.25em) {
      .car-block__p {
        width: 80%;
        padding: 1.5rem;
        background-color: #ffffffc7; } }
  .car-block__four {
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    background-color: var(--color-primary);
    height: 3rem;
    color: white;
    display: inline-block;
    width: 3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 2rem; }
  .car-block__car, .car-block__you {
    font-weight: 600;
    font-size: 1.8rem; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem;
  font-family: "Roboto", sans-serif;
  color: var(--color-primary-2);
  font-weight: 500; }
  .card__side {
    height: 45rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background: linear-gradient(to right bottom, var(--color-primary), rgba(245, 68, 3, 0.945)); }
      .card__side--back-2 {
        background: linear-gradient(to right bottom, var(--color-primary), rgba(245, 68, 3, 0.945)); }
      .card__side--back-3 {
        background: linear-gradient(to right bottom, var(--color-primary), rgba(245, 68, 3, 0.945)); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: url(../img/mazda.jpg);
      background-position: center; }
    .card__picture--2 {
      background-image: url(../img/mondeo.jpg); }
    .card__picture--3 {
      background-image: url(../img/venza.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    text-align: right;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-color: var(--color-primary); }
    .card__heading-span--2 {
      background-color: var(--color-primary); }
    .card__heading-span--3 {
      background-color: var(--color-primary); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff; }
      .card__side {
        position: relative;
        height: auto;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__detail {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.btn--white {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 200;
  letter-spacing: 1px; }

.contacts {
  max-width: 65%;
  width: 100%;
  height: 20rem;
  display: flex;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 56.25em) {
    .contacts {
      max-width: 100%;
      flex-direction: column;
      height: auto;
      position: relative;
      background-color: #fff;
      top: 0%;
      left: 0%;
      -webkit-transform: translate(0%, 0%);
      transform: translate(0%, 0%); } }
  .contacts__block:not(:last-child) {
    margin-right: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .contacts__block:not(:last-child) {
        margin-right: 0; } }
  .contacts__block {
    width: 33.3%;
    background-color: var(--color-primary-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20rem; }
    .contacts__block:last-child {
      padding-bottom: 2.5rem; }
    @media only screen and (max-width: 56.25em) {
      .contacts__block {
        height: auto;
        width: 100%; } }
    .contacts__block:hover .contacts__icon {
      fill: #fff;
      height: 8rem;
      width: 8rem;
      transform: rotate(360deg); }
  .contacts__block > a, .contacts p:first-of-type {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: 1px;
    display: block;
    text-align: center; }
  .contacts__icon {
    margin-top: 2rem;
    height: 7rem;
    width: 7rem;
    fill: var(--color-primary-2);
    transition: all .5s; }
  .contacts__heading {
    color: var(--color-primary-2);
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 1px; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #424141;
  background-image: none; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .form__wrapper-1, .form__wrapper-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    padding: 0 1rem; }
    @media only screen and (max-width: 56.25em) {
      .form__wrapper-1, .form__wrapper-2 {
        flex-wrap: wrap;
        justify-content: space-around; } }
  .form__item:not(:first-child) {
    margin-left: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .form__item:not(:first-child) {
        margin-left: 0; } }
  .form__item {
    width: 25rem;
    height: 4rem;
    background: #424141;
    border: none;
    padding-left: 2rem;
    color: #cecece;
    text-transform: uppercase;
    outline: none;
    transition: all .1s;
    border-radius: .25em;
    box-sizing: border-box; }
    .form__item:focus {
      border-bottom: 1px solid #f0753c; }
    .form__item::-webkit-input-placeholder {
      color: #cecece; }
    @media only screen and (max-width: 56.25em) {
      .form__item {
        width: 45%;
        font-size: 1.1rem;
        margin-top: 1.5rem; } }
  .form__select {
    position: relative;
    display: block;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    /* Transition */ }
    .form__select::after {
      content: '\25BC';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: .5rem 1rem;
      background: #424141;
      pointer-events: none;
      transition: all .5s; }
    .form__select:hover::after {
      color: #f39c12; }
    .form__select .select::after {
      -webkit-transition: .25s all ease;
      -o-transition: .25s all ease;
      transition: .25s all ease; }
    .form__select-select {
      text-transform: uppercase;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0 0 0 .5em;
      color: #cecece;
      cursor: pointer; }
      @media only screen and (max-width: 56.25em) {
        .form__select-select {
          font-size: 1.1rem; } }
  .form-btn {
    margin-top: 2.5rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 3.5rem;
    border: none;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: .25em;
    border: none;
    transition: .2s ease-in-out; }
    @media only screen and (max-width: 56.25em) {
      .form-btn {
        width: 22rem; } }

.how-we-work-box {
  height: 25rem;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  font-size: 1.6rem;
  color: var(--color-primary-2);
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: -webkit-transform .3s;
  transition: transform .3s; }
  .how-we-work-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  @media only screen and (max-width: 56.25em) {
    .how-we-work-box {
      height: 20rem; } }

.span-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 5rem;
  height: 5rem;
  background-color: var(--color-primary); }
  .span-box__span {
    font-size: 3rem;
    line-height: 1.5;
    color: white; }

.icon {
  fill: var(--color-primary-2);
  width: 5rem;
  height: 5rem; }

.popup {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  font-size: 1.4rem;
  line-height: 1.3;
  transition: all 0.3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.2); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95vh;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.4s 0.2s; }
  .popup__left {
    display: flex;
    order: 1;
    margin-top: auto; }
  .popup__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
    letter-spacing: 0.8px; }
    .popup__right--heading {
      color: var(--color-primary);
      font-weight: 200;
      letter-spacing: 2px; }
    @media (max-width: 75em) {
      .popup__right {
        padding: 1.5rem 2.5rem; } }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
    @media (max-width: 75em) {
      .popup__text {
        font-size: 1rem;
        -moz-column-gap: 2rem; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: var(--color-primary-2);
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 5rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1; }
  .popup__close:hover {
    color: var(--color-primary); }

.cars-header {
  background-image: url("../img/8.jpg");
  position: relative;
  width: 100%;
  height: 65rem;
  margin-bottom: 5rem;
  background-position: center;
  background-size: cover;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 90%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 0 90%, 0 0);
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .cars-header {
      height: 35rem; } }
  .cars-header__text {
    -webkit-clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    height: 11rem;
    width: 50rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 1.5rem 4rem black;
    margin-left: 15rem;
    margin-bottom: 20rem;
    opacity: 0.9; }
    .cars-header__text span {
      font-size: 3rem;
      font-weight: 300;
      line-height: 1.2; }
      @media only screen and (max-width: 56.25em) {
        .cars-header__text span {
          font-size: 2.5rem; } }
    .cars-header__text-span-1 {
      color: var(--color-primary); }
    .cars-header__text-span-2 {
      color: var(--color-primary-2); }
    @media only screen and (max-width: 56.25em) {
      .cars-header__text {
        width: 100%;
        margin-left: 0;
        height: 7rem;
        padding: 5rem;
        margin-bottom: 6rem; } }

.certification {
  font-family: "Roboto", sans-serif;
  height: 50rem;
  background: white;
  color: var(--color-primary-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 300; }
  @media only screen and (max-width: 56.25em) {
    .certification {
      height: auto; } }
  .certification-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem; }
    @media only screen and (max-width: 56.25em) {
      .certification-row {
        flex-direction: column; } }
  .certification-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 23rem;
    align-self: flex-start; }
    @media only screen and (max-width: 56.25em) {
      .certification-icon {
        margin-bottom: 0;
        align-self: center; } }
  .certification-img {
    width: 10rem; }
  .certification-p {
    width: 40%;
    height: 30rem;
    margin: 2rem 4rem; }
    @media only screen and (max-width: 56.25em) {
      .certification-p {
        order: 1;
        width: 100%;
        padding: 1rem 2rem;
        height: auto; } }

.customs-clearance {
  height: 95rem;
  -webkit-clip-path: polygon(0 0, 100% 27%, 100% 83%, 0% 100%);
  clip-path: polygon(0 0, 100% 27%, 100% 83%, 0% 100%);
  margin-top: -17rem;
  padding-top: 15rem;
  background-color: var(--color-primary-2);
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .customs-clearance {
      margin-top: 0;
      -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
      clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
      height: auto;
      padding-bottom: 15rem; } }
  .customs-clearance h2 {
    color: white; }
  .customs-clearance-information {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .customs-clearance-information {
        flex-direction: column; } }
  .customs-clearance-p {
    width: 50%;
    font-size: 1.5rem;
    color: white;
    letter-spacing: 1px;
    font-weight: 300; }
    @media only screen and (max-width: 56.25em) {
      .customs-clearance-p {
        width: 100%;
        padding: 1rem 2rem; } }
    .customs-clearance-p .arrow {
      color: var(--color-primary);
      margin: 0 1rem; }
  .customs-clearance-figure {
    width: 40rem; }
    .customs-clearance-figure__img {
      width: 100%; }

.delivery {
  font-family: "Roboto", sans-serif;
  height: 72rem;
  -webkit-clip-path: polygon(0 80%, 100% 100%, 100% 0, 50% 20%, 0 0);
  clip-path: polygon(0 80%, 100% 100%, 100% 0, 50% 20%, 0 0);
  margin-top: -17rem;
  background: white;
  color: var(--color-primary-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 300; }
  @media only screen and (max-width: 56.25em) {
    .delivery {
      -webkit-clip-path: polygon(0 95%, 100% 100%, 100% 0, 50% 20%, 0 0);
      clip-path: polygon(0 95%, 100% 100%, 100% 0, 50% 20%, 0 0); } }
  .delivery__heading-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 34rem;
    align-self: flex-start; }
    @media only screen and (max-width: 56.25em) {
      .delivery__heading-icon {
        order: 0;
        margin-bottom: 0;
        display: block;
        margin: 0 auto;
        margin-top: 3rem; } }
  .delivery-img {
    width: 10rem;
    margin-top: 5rem;
    position: relative;
    display: block;
    transition: all .5s;
    animation: carMove 1s  ease; }
    @media only screen and (max-width: 56.25em) {
      .delivery-img {
        margin-top: 0; } }
  .delivery-header {
    margin-top: 1rem;
    margin-bottom: 0; }
  .delivery .delivery-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    margin-top: 10rem; }
    @media only screen and (max-width: 56.25em) {
      .delivery .delivery-row {
        flex-direction: column; } }
  .delivery-p {
    width: 40%;
    height: 30rem;
    margin: 2rem 4rem; }
    @media only screen and (max-width: 56.25em) {
      .delivery-p {
        order: 1;
        width: 100%;
        height: auto;
        margin: 1rem 2rem; } }

.footer {
  background-color: #333;
  padding: 10rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 68.75em) {
    .footer {
      padding: 3rem; } }
  .footer__logo {
    text-align: center;
    font-size: 5rem;
    letter-spacing: 5px;
    font-weight: 400;
    color: white;
    padding: 0 4rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo {
        font-size: 2.2rem; } }
  .footer__navigation, .footer__contacts {
    display: flex;
    flex-direction: column; }
    @media (max-width: 56.25em) {
      .footer__navigation, .footer__contacts {
        width: 100%;
        text-align: center; } }
  .footer__contactsAndSocial {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1.6rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__contactsAndSocial {
        flex-direction: column; } }
  .footer__social, .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem; }
    .footer__social-phone, .footer__contacts-phone {
      text-decoration: none;
      color: #fff; }
  .footer__contacts-header, .footer__social-header {
    font-size: 1.9rem;
    letter-spacing: 1px;
    font-weight: 100; }
  .footer__social-phone {
    display: flex; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    background-color: #333;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(5deg) scale(1.3); }

.navAndContact__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .navAndContact__wrapper {
      flex-direction: column; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  background-image: url("../img/cars-header-1.jpg");
  position: relative;
  width: 100%;
  height: 65rem;
  position: relative;
  background-position: center;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  @media only screen and (max-width: 56.25em) {
    .header {
      display: flex;
      flex-direction: column;
      height: 50rem; } }
  .header__p-holder-1 {
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
    font-weight: 200;
    background-color: var(--color-primary-1);
    z-index: 10;
    text-align: center;
    width: 47rem;
    position: absolute;
    height: 15rem;
    top: 23%;
    left: 25%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
    animation: moveInRight 1.7s ease-out; }
    @media only screen and (max-width: 56.25em) {
      .header__p-holder-1 {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 55rem; } }
    @media only screen and (max-width: 56.25em) {
      .header__p-holder-1 {
        width: 85%;
        height: 10rem;
        display: flex; } }
  .header__p-holder-2 {
    font-weight: 200;
    position: absolute;
    background-color: white;
    z-index: 10;
    text-align: center;
    width: 53rem;
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50rem;
    height: 15rem;
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    transform: translate(-50%, -50%);
    animation: moveInBottom 0.2s ease;
    transition: all 0.1s; }
    @media only screen and (max-width: 56.25em) {
      .header__p-holder-2 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 60rem; } }
    @media only screen and (max-width: 56.25em) {
      .header__p-holder-2 {
        width: 90%;
        height: 10rem;
        display: flex; } }
  .header__p-economy-1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 200;
    position: absolute;
    line-height: 1.2;
    z-index: 10;
    text-align: center;
    width: 50rem;
    top: 23%;
    transform: translate(-50%, -50%);
    left: 25%;
    transition: all 0.2s;
    animation: appear 1.8s ease; }
    @media only screen and (max-width: 56.25em) {
      .header__p-economy-1 {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    @media only screen and (max-width: 56.25em) {
      .header__p-economy-1 {
        font-size: 2rem;
        width: 85%; } }
  .header__p-economy-2 {
    color: var(--color-primary-2);
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1.2;
    z-index: 10;
    text-align: center;
    width: 50rem;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
    animation: appear 1s ease; }
    @media only screen and (max-width: 56.25em) {
      .header__p-economy-2 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    @media only screen and (max-width: 56.25em) {
      .header__p-economy-2 {
        font-size: 2rem;
        padding: 0 0.7rem;
        width: 90%; } }

.economy {
  font-size: 3rem;
  color: var(--color-primary); }

.callForAction {
  -webkit-clip-path: polygon(10% 1%, 100% 0%, 90% 100%, 0% 100%);
  clip-path: polygon(10% 1%, 100% 0%, 90% 100%, 0% 100%);
  position: absolute;
  top: 95%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 65rem;
  height: 13rem;
  background-color: #424141;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .callForAction {
      width: 41rem;
      top: 100%;
      font-size: 1.3rem;
      text-align: center; } }
  .callForAction-header {
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 2.5rem;
    margin: .5rem; }
  .callForAction--p {
    font-size: 1.6rem;
    color: white;
    margin: 1rem 2rem;
    letter-spacing: 1px; }
  .callForAction__icon {
    height: 7rem;
    width: 7rem;
    display: block;
    fill: var(--color-primary);
    animation: arrowDown 2s  ease-in;
    animation-iteration-count: infinite; }

.navigation__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  height: 10rem;
  background-color: var(--color-primary-2); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#f0753c, #ff7b34);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #f0753c;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.logo__box {
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: 700;
  color: white;
  padding: 0 4rem; }
  .logo__box-four {
    border: 1px solid #de6133;
    border-radius: 50%;
    background-color: #dd6233;
    height: 5rem;
    display: inline-block;
    width: 5rem;
    text-align: center;
    line-height: 3rem;
    font-size: 5rem; }

.services-header {
  height: 50rem;
  background-image: url("../img/services-header.jpg");
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .services-header {
      height: 35rem; } }
  .services-header__text {
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    background: #ffffffc7;
    width: 90rem;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 56.25em) {
      .services-header__text {
        margin-bottom: 10rem;
        width: 40rem; } }
  .services-header-h1 {
    text-align: center;
    color: var(--color-primary-2);
    font-size: 5rem;
    font-weight: 100; }
    @media only screen and (max-width: 56.25em) {
      .services-header-h1 {
        font-size: 3rem; } }

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-primary-2);
  max-width: 150rem; }
  @media only screen and (max-width: 56.25em) {
    .nav-top {
      height: 15rem; } }

.nav__list {
  display: flex; }
  .nav__list-item {
    position: relative;
    padding: 3rem 2rem;
    list-style: none;
    border-top: none;
    border-bottom: none;
    width: 100%;
    height: 100%;
    transition: all .5s; }
    .nav__list-item:not(:last-child) {
      border-right: none; }
  .nav__list-link {
    color: white;
    width: 100%;
    z-index: 2; }
  .nav__list-link:link, .nav__list-link:visited {
    font-size: 1.7rem;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 2px; }
  .nav__list-link:hover {
    color: var(--color-primary); }
  @media only screen and (max-width: 56.25em) {
    .nav__list {
      display: none; } }

.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 8rem;
  background-color: white;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  height: 80rem; }
  @media only screen and (max-width: 68.75em) {
    .section-about {
      height: 73rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      height: 63rem; } }

.section-how-we-work {
  background-image: url(../img/9.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
  margin-top: -10rem;
  padding: 20rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-how-we-work {
      -webkit-clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
      padding: 11rem 0 5rem 0; } }
  @media only screen and (max-width: 56.25em) {
    .section-how-we-work {
      -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
      margin-top: -10rem; } }

.section-form {
  background-color: var(--color-primary-2);
  height: 27rem;
  padding-top: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .section-form {
      height: 43rem; } }
