.customs-clearance {
    height: 50rem;
    -webkit-clip-path: polygon(0 0, 100% 27%, 100% 83%, 0% 100%);
    clip-path: polygon(0 0, 100% 27%, 100% 83%, 0% 100%);
    margin-top: -15rem;
    background-image: url('../img/clearance.jpg');
    background-size: cover;
}