.services-header {
  height: 50rem;
  background-image: 
//   linear-gradient(
//       to right bottom,
//       rgba(10, 10, 10, 0.521),
//       rgba(20, 20, 20, 0.473)
//     ),
    url("../img/services-header.jpg");
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);

  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

  @media only screen and (max-width: $bp-medium) {
    height: 35rem;
   }

   &__text {
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    background: #ffffffc7;
    width: 90rem;

    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 10rem;
     }
    
   }
  &-h1 {
      text-align: center;
    
      color: var(--color-primary-2);
      font-size: 5rem;
      font-weight: 100;

      @media only screen and (max-width: $bp-medium) {
       font-size: 3rem;
       }
  }
}
