
@keyframes moveInRight {
    0% {
       opacity: 0;
       margin-left: -200px;
    }

    50%{
        opacity: 0.2;
    }
  
    100% {
       
        margin-left: 0;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scaleX(30);
       
      
    }

    25% {
        opacity: 0.1;
        transform: scaleX(25);
       
    }
   
    50%{
        opacity: 0.2;
        transform: scaleX(20);
        
    }
    100% {
        opacity: 1;
        
    }
}

@keyframes moveInBottom {
    0% {
       
        transform: translate(-50%, 50%);
      
    }

    50% {
        transform: translate(-50%, -0%);
       
    }
   
    100% {
        transform: translate(-50%, -50%);
       
    }
}

@keyframes arrowDown {
    0% {
      
       -webkit-transform: scale(1.2);
       -ms-transform: scale(1.2);
       transform: scale(1.2);
       
      
    }

    50% {
       
        -webkit-transform: scale(.5);
        -ms-transform: scale(5);
        transform: scale(.5);
       
    }
   
    100% {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
      
    }
}


/* Grow Shadow */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(240, 237, 237, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    font-size: 1.4rem;
    letter-spacing: 1px;
  }

 