*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}





html {
  //This defines what 1rem is
  font-size: 62.5%; // 1 rem = 10px;  10px/16px =62.5%




  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
   }
  
}

body {
  box-sizing: border-box;
  position: relative;
  @include respond(tab-port) {
    padding: 0;
  }
}

.container {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  position: relative;
}

section {
  position: relative;
}

.primary {
  color: var(--color-primary);
}

.white {
  color: #fff;
}